.details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    background-color: #1a1a1a42;

    &-row, &-wind, &-humidity,
    &-visibility, &-pressure,
    &-ground, &-sea, &-clouds,
    &-sunrise, &-sunset{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-wind, &-humidity,
    &-visibility, &-pressure,
    &-ground, &-sea, &-clouds,
    &-sunrise, &-sunset{
        margin: 10px;
    }

    &-name{
        font-size: 20px;
        margin: 10px;
        font-weight: 500;
    }

    &-speed-degrees{
        display: flex;
        margin: 10px;
    }
}