<div class="current">
    <p class="current-time">{{currentDate | date: 'HH:mm'}}</p>
    <div class="current-info">
        <div class="current-weather">
            <img class="current-icon" [src]="'https://openweathermap.org/img/wn/' +  weather.weather[0].icon + '@2x.png'" alt="{{weather.weather[0].description}}"/>
            <p class="current-degrees">{{weather.main.temp | number: "1.0-0"}} °C</p>
        </div>
        <p class="current-description">{{weather.weather[0].description}}</p>
        <div class="current-location">
            <fa-icon class="current-location-icon" [icon]="FaLocationIcon"></fa-icon>
            <p class="current-location-city">{{weather.name}}, {{ weather.sys.country }}</p>
        </div>  
        <p class="current-date">{{currentDate | date: "EEEE, dd MMM YYYY"}}</p>  
    </div>
</div>
