<!-- <p class="current-text">Today</p> -->
<div class="current">
    <p class="current-time">{{currentDate | date: 'hh:mm'}}</p>
    <div class="current-info">
        <div class="current-weather">
            <img class="current-icon" src="assets/day_clear.svg" alt="Sunny"/>
            <p class="current-degrees">41 °C</p>
        </div>
        <div class="current-location">
            <fa-icon class="current-location-icon" [icon]="FaLocationIcon"></fa-icon>
            
            <!-- <p class="current-location-city">{{ weatherData.name }} {{location}}</p> -->
        </div>  
        <p class="current-date">{{currentDate | date: "EEEE, dd MMM YYYY"}}</p>  
    </div>
</div>
